cmake-build-debug
CMakeCache.txt
CMakeFiles/
HomeCamRecorder
Makefile
cmake_install.cmake
CMakeScripts/
HomeCamRecorder.build/
build/
HomeCamRecorder.xcodeproj/xcuserdata/
HomeCamRecorder.xcodeproj/project.xcworkspace/xcuserdata/
